<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
{% load staticfiles %}

<head>
	<title>Zakk Lefkowits | Hompage</title>
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='{% static 'splash/style.css' %}' rel='stylesheet' type='text/css'>
</head>

<body>
	<!-- <div id="header"></div> -->
	<h1 id="logo">Zakk.io</h1>
	<div id="container">
		<div id="welcome">
			<h2>Hi, My name is Zakk. </h2>
			<h3>I like to write code and {{action}} {{noun}} </h3>
		</div>
		<div id ="welcome">
			<h3>I'm hard at work on the site, check back soon.</h3>
			<h3>Check out the <a href="https://github.com/zakkl13/zakk.io/">source code</a> for this splash page, and the future webpage on Github.</h3>
			<h3> If you want to get in touch, send me an email: <a href="zakk@zakk.io">Zakk@zakk.io</a></h3>
			{% if linklist %}
				<ul>
					{% for link in linklist %}
						<li>{{ link.link_text }} <img src="{{ link.icon.url }}" /></li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
  </div>
</body>
</html>
