h2.icon-header {
    font-weight: 700;
}

$animTime:0.7s;

@keyframes pop-in {
    from {opacity: 0.8; }
    to {opacity: 1; transform: scale(1.05)}
}

@keyframes pop-out {
    from {opacity: 1; transform: scale(1.05)}
    to {opacity: 0.8; }
}

.pop
{
    opacity: 0.8;
    animation: pop-out $animTime;
}

.pop:hover
{
        animation: pop-in $animTime forwards;
}

a, a:link, a:visited {
    text-decoration: none;
    color: black;
}

$smImgDim: 128px;

$xsImgDim: 80px;

img {
    @media (max-width: 575.98px) { 
        height: $xsImgDim;
        width: $xsImgDim;
    }

    @media (min-width: 576px) and (max-width: 767.98px) { 
        height: $smImgDim;
        width: $smImgDim;
    }
}
